<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)="navigateTo()">
            <ion-icon color="light" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Pertanyaan</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="navigateTo()">
        <ion-icon color="light" name="time"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="listQuestion && listQuestion.length > 0">
    <ion-item *ngFor="let quest of listQuestion" (click)="toAnswer(quest)">
      <ion-label>{{quest.name}} <br> <small>{{quest.question}}</small></ion-label>
      <ion-note slot="end">Usia {{quest.age}} thn</ion-note>
    </ion-item>
  </ion-list>
  <div *ngIf="listQuestion.length == 0" style="position: relative;
  width: 100%;
  text-align: center;
  top: 3%;">
    <ion-label>Tidak ada pertanyaan baru yang masuk</ion-label>
  </div>
</ion-content>
