<ion-header>
    <ion-toolbar color="primary" *ngIf="!onload">
        <ion-buttons slot="start">
          <ion-button (click)="navigateTo('home')">
            <ion-icon color="light" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <!-- <ion-buttons slot="end">
          <ion-button (click)="startVidCall(toUser)">
            <ion-icon color="light" name="videocam" style="font-size: 30px"></ion-icon>
          </ion-button>
          <ion-button (click)="startCall(toUser)">
            <ion-icon color="light" name="call" style="font-size: 30px"></ion-icon>
          </ion-button>
        </ion-buttons> -->
        <ion-item *ngIf="profile_patient">
          <ion-avatar slot="start">
              <div class="dot-active-user" *ngIf="activedToUser"></div>
              <div class="dot-unactive-user" *ngIf="!activedToUser"></div>
            <img src="{{profile_patient.profile.avatar}}" width="100">
          </ion-avatar>
          <ion-label color="light">
            {{profile_patient.profile.name | titlecase}} <br>
            <small>{{ activedToUser ? 'Aktif': 'Tidak Aktif'}}</small>
          </ion-label>
        </ion-item>
      </ion-toolbar>
  
      <!-- SKELETON TEXT LOAD -->
      <ion-toolbar *ngIf="onload " color="primary">
        <ion-buttons slot="start">
          <ion-button (click)="navigateTo('home')">
            <ion-icon color="light" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 60%" ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-toolbar>
  </ion-header>
  
  <ion-content #IonContent >
    <ion-list>
        <div *ngFor="let chat of msgList; let i = index; ">
          <ion-row *ngIf="chat.userId == toUser">
            <ion-col class="right" no-padding [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
              <div class="imageAvatarRight">
                <div class="imageAvatarBottom">
                  <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''">
                    <!-- <div class="imageAvatarBottomIcon">
                      <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                    </div> -->
                    <ion-img [src]="chat.userAvatar"></ion-img>
                  </ion-avatar>
                </div>
                <ion-label color="light">
                  <div style="min-width: 100px;" class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
                  (msgList[i-1] && msgList[i-1].userId == chat.userId)),
                  'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
                  'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}">
                    <p text-wrap style="padding: 5px; color: black;">{{chat.message}}</p>
                    <small style="margin: 10px;
                    color: black;
                    text-align: right;
                    width: 100%;
                    position: relative;
                    left: 45%;">
                      {{chat.time}} 
                    </small>
                    <div class="corner-parent-right">
                      <div class="corner-child-right">
    
                      </div>
                    </div>
                  </div>
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="chat.userId == User">
            <ion-col class="left" no-padding [ngClass]="{'clubbed':((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])}">
              <div class="imageAvatarLeft">
                <ion-label color="light">
                  <div style="min-width: 100px;" class="chatDiv" [ngClass]="{'sharper':((msgList[i+1] && msgList[i+1].userId == chat.userId) && 
                  (msgList[i-1] && msgList[i-1].userId == chat.userId)),
                  'sharper-top':(msgList[i-1] && msgList[i-1].userId == chat.userId),
                  'sharper-bottom':(msgList[i+1] && msgList[i+1].userId == chat.userId)}">
                    <p text-wrap style="padding: 5px; color: black; ">{{chat.message}}</p>
                    <small style="margin: 10px; color: black;">
                      {{chat.time}} <ion-icon color="dark" name="{{chat.isReaded ? 'done-all': 'checkmark'}}"></ion-icon> 
                    </small>
                    <div class="corner-parent-left">
                      <div class="corner-child-left">
                        
                      </div>
                    </div>
                  </div>
                </ion-label>
                <div class="imageAvatarBottom">
                  <!-- <ion-icon class="imageAvatarBottomIcon" name="add" expand="icon-only" color="success"></ion-icon> -->
                  <ion-avatar class="avatar" [ngClass]="(msgList[i+1] && msgList[i+1].userId == chat.userId)?'hidden':''">
                    <!-- <div class="imageAvatarBottomIcon">
                      <ion-icon name="add" expand="icon-only" color="light"> </ion-icon>
                    </div> -->
                    <ion-img [src]="chat.userAvatar"></ion-img>
                  </ion-avatar>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <!-- <ion-row *ngIf="((msgList[i+1] && msgList[i+1].userId != chat.userId)|| !msgList[i+1])" >
            <ion-col>
              <ion-text>{{chat.time}}</ion-text>
            </ion-col>
          </ion-row> -->
        </div>
    </ion-list>
  </ion-content>
  <ion-footer *ngIf="conselings && !conselings.result">
      <ion-row>
        <ion-col size="10">
          <ion-input class="input-box" type="text" placeholder="Tulis Pesan..." [(ngModel)]="user_input" ></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-button color="primary" (click)="sendMsg()">
            <ion-icon color="light" name="send"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row no-margin no-padding>
        <ion-col size="2">
          <div class="on-icon" style="border-style: solid;
          border-width: 0;
          border-radius: 50%;
          width: 40px;
          align-content: center;
          position: relative;
          left: 2px;
          padding: 1px;
          box-shadow: 0px 0px 0 3px #f0e8e8;
          height: 39px;">
            <img style="width: max-content;" src="../../assets/images/Foto.png" width="38">
          </div>
        </ion-col>
        <ion-col size="10" >
          <div class="new-input-warp">
            <form action="/action_page.php" style="max-width:500px;margin:auto">
              <div class="input-container">
                <i ><ion-icon name="image"></ion-icon></i>
                <i class="second-icon"><ion-icon name="mic"></ion-icon></i>
                <input class="input-field" type="text" placeholder="Ketik pesan..." name="usrnm">
              </div>
            </form>
          </div>
        </ion-col>
      </ion-row> -->
    </ion-footer>
  