<ion-content class="bg-ch-password">
    <ion-row>
      <ion-col size="1">
        <ion-button color="light" fill="clear" (click)="navigateTo('login')">
          <ion-icon name="arrow-back" ></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="10">
        <b style="color: white; text-align: center; position:relative; margin-left: 23px;
        top: 10px;">Lupa Kata Sandi</b>
      </ion-col>
    </ion-row>
    <div class="centered">
      <b style="color: white; position:relative;">Email*</b>
      <ion-item>
        <ion-label></ion-label>
        <ion-input placeholder="Tuliskan Email" [(ngModel)]="formEmail.email"></ion-input>
      </ion-item>
      <!-- <ion-row justify-content-center padding>
        <a href="javascript:void(0)" style="color:white" (click)="navigateTo('login')">Kembali ke halaman login</a>
      </ion-row> -->
    </div>
    <div class="footer-ch-password">
      <ion-row justify-content-center>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-button mode="ios" expand="block" color="primary" (click)="doSend()">KIRIM</ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </div>
  </ion-content>
  