<ion-content class="bg-logins">
    
  <div class="centere">
    <img [src]="logo" alt="LOGO" style="width: 200px; height: auto;">
    <ion-row justify-content-center>
      <p style="font-size: 14pt;
      padding-left: 15%;
      padding-right: 15%;">
        Ubah Kata Sandi
      </p>
    </ion-row>
  </div>

  <div class="warp-input-logins footer-login" >
    <div style="width: 100%; text-align: left;">
      <ion-label>Kata sandi baru</ion-label>
    </div>
    <div class="input-container">
      <i class="icon">
        <ion-icon name="ios-lock"></ion-icon>
      </i>
      <input class="input-field" [(ngModel)]="pwd" type="password" placeholder="Kata Sandi Baru" >
    </div>
    <div style="width: 100%; text-align: left;">
      <ion-label>Ulangi kata sandi</ion-label>
    </div>
    <div class="input-container">
      <i class="icon">
        <ion-icon name="ios-lock"></ion-icon>
      </i>
      <input class="input-field" [(ngModel)]="pwdConfirm" type="password" placeholder="Konfirmasi Kata Sandi" >
    </div>
    <small style="color: red" *ngIf="pwdConfirm != pwd">Konfirmasi kata sandi tidak sesuai</small>
    <div style="margin-top: 5px; text-align: right">
      
      <div style="margin-top: 25px;">
        <button style="background-color: #004883;
        color: white;
        width: 100%;
        height: 37px;
        border-radius: 20px;" (click)="doChange()" *ngIf="pwdConfirm == pwd && pwdConfirm">Ubah Password</button>
        <button style="background-color: #316d9e;
        color: white;
        width: 100%;
        height: 37px;
        border-radius: 20px;"  *ngIf="!pwdConfirm || pwdConfirm != pwd " disabled>Ubah Password</button>
        <!-- <ion-button expand="block"  
        >
          Masuk
          <ion-spinner name="crescent" style="margin-left: 10px;" *ngIf="loading"></ion-spinner>
        </ion-button> -->
      </div>

      <ion-row justify-content-center>
        <small style="color: white; margin-top: 35px;margin-bottom: 15px;"><a href="javascript:void(0)" style="color: white" (click)="navigateTo('signup')">Kembali ke halaman login</a></small>
      </ion-row>
    </div>
  </div>
</ion-content>


  