<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)="doBack()">
            <ion-icon color="light" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Jawab Pertanyaan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-row *ngIf="question">
      <ion-col size="6"> <b>Name </b> <br>{{question.name}}</ion-col>
      <ion-col size="6"> <b>Usia </b> <br>{{question.age}}</ion-col>
      <ion-col size="12"> <b>Pertanyaan </b> : <br>{{question.question}}</ion-col>
      <ion-col size="12"> <b>Jawaban</b> : </ion-col>
    </ion-row>
    <ion-card>
      <ion-item *ngIf="question">
        <ion-textarea rows="10" [(ngModel)]="question.answered" placeholder="Tulis jawab anda ..."></ion-textarea>
      </ion-item>
    </ion-card>
    
  </ion-card-content>
</ion-content>

<ion-footer>
  <ion-card-content *ngIf="question">
    <ion-button expand="full" color="primary" (click)="answerQuestion()" disabled="{{!question.answered}}"> Kirim</ion-button>
  </ion-card-content>
</ion-footer>