<div *ngIf="!onload">
  <ion-list *ngIf="listConseling">
    <ion-item *ngFor="let data of listConseling" (click)="openChatRoom(data)">
      <ion-avatar slot="start">
        <img src="{{data.patient.profile.avatar}}">
      </ion-avatar>
      <ion-note color="{{checkUser(data.patient.id) ? 'success':'dark'}}" slot="end">
        {{checkUser(data.patient.id) ? 'Online':'Offline'}} <br>
        {{ data.schedule.schedule_date }} {{data.schedule.time}}
      </ion-note>
      <ion-label>
        <small>
          {{data.patient.profile.name}}
        </small> <br>
        <small>
          {{data.methode}}
        </small>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="data-kosong" *ngIf="listConseling.length == 0 || !listConseling" align="center">
    <p>Data Konseling Anda Masih Kosong</p>
  </div>
</div>

<div *ngIf="onload">
    <ion-list>
      <ion-item >
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%; height: 90px;"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%; height: 90px;"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%; height: 90px;"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%; height: 90px"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

