<ion-toolbar color="primary">
  <ion-segment (ionChange)="segmChanged($event)" [(ngModel)]="segm" scrollable>
    <ion-segment-button value="pengaduan">
      Pengaduan Masuk
    </ion-segment-button>
    <ion-segment-button value="verified">
      Pengaduan Terverifikasi
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<div *ngIf="!onload">
  <div *ngIf="segm == 'pengaduan'">
    <ion-list *ngIf="complaintApp.length">
      <ion-item *ngFor="let conselor of stayed" (click)="openDetail(conselor)">
        
        <ion-avatar *ngIf="conselor.patient">
          <img src="{{conselor.patient.profile.avatar}}">
        </ion-avatar>
        <ion-label margin *ngIf="conselor.patient">
          {{conselor.patient.profile.name}} <br>
          <!-- <small>{{getText(conselor.category_id)}}</small> -->
        </ion-label>
        <ion-note slot="end" *ngIf="conselor.patient">{{normalizeDate(conselor.createdAt)}} <br>
          <!-- <p style="text-align: right">{{normalizeTime(conselor.createAt)}}</p> -->
        </ion-note>
        <div class="dot-nw" *ngIf="conselor.status == 0 || conselor.status == null"></div>
        <div class="dot-ig" *ngIf="conselor.status == 1"></div>
        <div class="dot-up" *ngIf="conselor.status == 2"></div>
      </ion-item>
    </ion-list>
    <div class="data-kosong" *ngIf="!stayed.length" align="center">
      <p>Belum ada data</p>
    </div>
  </div>
  <div *ngIf="segm == 'verified'">
    <ion-searchbar placeholder="Cari berdasarkan nama" (keyup)="onKey($event)"></ion-searchbar>
    <div *ngIf="approved.length > 0">
        <ion-list>
          <ion-item *ngFor="let approve of approved" (click)="openDetail(approve)">
            <ion-avatar>
              <img src="{{approve.patient.profile.avatar}}">
            </ion-avatar>
            <ion-label margin>
              {{approve.patient.profile.name}}  <br>
              <small>{{getText(approve.category_id)}}</small>
            </ion-label>
            <ion-note slot="end" *ngIf="approve.conselor"> 
              <p style="text-align: right">Nama Konselor</p>
              <p style="text-align: right"><b style="color:chartreuse; " >{{approve.conselor.profile.name}}</b></p>
            </ion-note>
          </ion-item>
        </ion-list>
    </div>
    <div class="data-kosong" *ngIf="!approved.length" align="center">
      <p>Belum ada data</p>
    </div>

  </div>

  <div *ngIf="segm == 'question'">
   
    <div class="data-kosong"  align="center">
      <p>Belum ada pertanyaan yang masuk</p>
    </div>

  </div>
</div>
<div *ngIf="onload">
    <ion-list>
      <ion-item >
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%; height: 80px;"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%; height: 80px;"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%; height: 80px;"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
      <ion-item >
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 100%; height: 80px"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

