.data-kosong {
    position: absolute;
    top: 40%;
    width: 100%;
    color: #bbbbbb;
}

ion-segment {
    font-family: OpenSansBold !important;
    padding-bottom: 2px;
    ion-segment-button {
        font-size: 8pt !important;
    }
}