<!-- <ion-header>
  <ion-toolbar>
    <ion-title>logout</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bg-logout">
  <div class="centere">
    <img src="../../../assets/images/logo-cons.png" width="300">
    <div style="margin-top: 10%;">
        <ion-card-content>
          <ion-label>APAKAH ANDA YAKIN INGIN KELUAR ?</ion-label>
        </ion-card-content>
        <ion-card-content>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block" color="primary" (click)="doLogout()">
                YA
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" color="light" (click)="cancelLogout()">
                TIDAK
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
    </div>
  </div>
</ion-content>
