
<div *ngIf="!onload">
  <ion-list *ngIf="listConseling"> 
    <div *ngFor="let conseling of listConseling">
      <ion-item >
        <ion-avatar slot="start">
          <img  src="{{conseling.patient.profile.avatar}}">
        </ion-avatar>
        <ion-label>
            {{conseling.patient.profile.name}} <br>
            <!-- <small style="font-size: 8pt">{{ getCategory(conseling.complaint_data.category_id)}}</small>
            <br> -->
        </ion-label>
        <ion-note slot="end">
          {{conseling.schedule.schedule_date}}
          <br>
          <small style="color: #19b983;
                        font-size: 7pt;">{{conseling.schedule.time}}</small>
        </ion-note>
        
      </ion-item>
      <ion-card-content no-padding no-margin>
          <ion-row no-padding no-margin justify-content-end>
            <ion-col  size="6" >
              <ion-button disabled="!conseling.result" *ngIf="conseling.methode == 'Chat'" expand="block" size="small" color="primary" (click)="openLogChat(conseling)">Percakapan</ion-button>
            </ion-col>
            
            <ion-col  size="6">
              <ion-button expand="block" size="small" color="primary" (click)="openResult(conseling)">Hasil Konseling</ion-button>
            </ion-col>
          </ion-row>
      </ion-card-content>
    </div>
  </ion-list>
  
  <div class="data-kosong" *ngIf="listConseling.length == 0 || !listConseling.length" align="center">
    <p>Belum ada data konseling yang masuk</p>
  </div>
</div>

<div *ngIf="onload">
  <ion-list>
    <ion-item >
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 100%; height: 90px;"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 100%; height: 90px;"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 100%; height: 90px;"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 100%; height: 90px"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</div>