<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start"> 
        <ion-button (click)="closeModal()">
          <ion-icon name="arrow-back" color="light"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title text-center>Jadwal Konselor</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-calendar [options]="optionsCalendar" format="YYYY-MM-DD" [(ngModel)]="selectedDate" (click)="selectDate()"></ion-calendar>
      <div class="divider"></div>
      <ion-row justify-content-start no-padding>
        <ion-col size="6">
        <b style="    padding-top: 3px;
        padding-left: 10px;">Jam Konseling</b>
        </ion-col>
        
      </ion-row>
      <ion-card-content>
        <ion-list>
          <ion-list-header>
            <ion-label>Sesi 1</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Pilih Jam</ion-label>
            <ion-datetime  [(ngModel)]="sessionOne"  placeholder="Jam Mulai" displayFormat="HH:mm" minuteValues="0,15,30,45" hourValues="9,10,11,12,13,14,15,16,17,18"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Jam Selesai</ion-label>
            <ion-label text-end>{{sessionOne ? getTimeSessOne(sessionOne) : '-'}}</ion-label>
            <!-- <ion-datetime placeholder="Jam Mulai" displayFormat="HH:mm" minuteValues="0,15,30,45" hourValues="9,10,11,12,13,14,15,16,17,18"></ion-datetime> -->
          </ion-item>
          <ion-item lines="none" *ngIf="sessionTwoFrom">
            <ion-button *ngIf="18 > sessionTwoFrom && !isSession_two" color="success" fill="clear" slot="end" (click)="addSession(2)">
                <ion-icon name="add-circle"></ion-icon> Tambah Sesi
            </ion-button>
          </ion-item>
        </ion-list>

        <!-- SESI 2 -->
        <ion-list *ngIf="isSession_two">
          <ion-list-header>
            <ion-label>Sesi 2</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Pilih Jam</ion-label>
            <ion-datetime [(ngModel)]="sessionTwo"  placeholder="Jam Mulai" displayFormat="HH:mm" minuteValues="0,15,30,45" hourValues="{{sessionTwoHour}}"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Jam Selesai</ion-label>
            <ion-label text-end>{{sessionTwo ? getTimeSessTwo(sessionTwo) : '-'}}</ion-label>
            <!-- <ion-datetime placeholder="Jam Mulai" displayFormat="HH:mm" minuteValues="0,15,30,45" hourValues="9,10,11,12,13,14,15,16,17,18"></ion-datetime> -->
          </ion-item>
          <ion-item lines="none" *ngIf="sessionThreeFrom">
            <ion-button *ngIf="!isSession_three" color="danger" fill="clear" slot="start" (click)="removeSession(2)">
                <ion-icon name="trash"></ion-icon> Hapus Sesi
            </ion-button>
            <ion-button *ngIf="18 > sessionThreeFrom && !isSession_three" color="success" fill="clear" slot="end" (click)="addSession(3)">
                <ion-icon name="add-circle"></ion-icon> Tambah Sesi
            </ion-button>
          </ion-item>
        </ion-list>

        <!-- SESI 3 -->
        <ion-list *ngIf="isSession_three">
          <ion-list-header>
            <ion-label>Sesi 3</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Pilih Jam</ion-label>
            <ion-datetime [(ngModel)]="sessionThree" placeholder="Jam Mulai" displayFormat="HH:mm" minuteValues="0,15,30,45" hourValues="{{sessionThreeHour}}"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Jam Selesai</ion-label>
            <ion-label text-end>{{sessionThree ? getTimeSessThree(sessionThree) : '-'}}</ion-label>
            <!-- <ion-datetime placeholder="Jam Mulai" displayFormat="HH:mm" minuteValues="0,15,30,45" hourValues="9,10,11,12,13,14,15,16,17,18"></ion-datetime> -->
          </ion-item>
          <ion-item lines="none" >
              <ion-button color="danger" fill="clear" slot="start" (click)="removeSession(3)">
                  <ion-icon name="trash"></ion-icon> Hapus Sesi
              </ion-button>
            </ion-item>
        </ion-list>
      </ion-card-content>
      
      <ion-card-subtitle>
        <ion-row justify-content-center>
          <ion-button color="primary" size="small" (click)="doSave()">SIMPAN</ion-button>
        </ion-row>
      </ion-card-subtitle>
  </ion-content>
  