
  <div >
    <ion-calendar  [options]="optionsCalendar" format="YYYY-MM-DD" 
    [(ngModel)]="selectedDate" (click)="selectDate()"></ion-calendar>
    <div class="divider"></div>
    <ion-row justify-content-start no-padding>
      <b style="    padding-top: 3px;
      padding-left: 10px;">Jam Konseling</b>
    </ion-row>
    <ion-card-content>
      <ion-row justify-content-start no-padding no-margin *ngIf="times.length > 0">
        <ion-col size="2" *ngFor="let time of times" style="margin-right: 5px;">
          <ion-badge color="primary" >{{time.time}}</ion-badge>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center *ngIf="times.length == 0" >
        <small>
            {{firstTime ? text_null : 'Anda Tidak Memiliki Jam'}}
        </small>
      </ion-row>
      <ion-row *ngIf="times.length > 0">
        <ion-col size="1">
          <div class="color-info"></div> 
        </ion-col>
        <ion-col size="9">
          <ion-label><small>Jadwal Jaga</small></ion-label>
        </ion-col>
      </ion-row>
      <div class="fab-btn-custom" >
        <button class="btn-custom" (click)="setSchedule()" style="background-color: #153243 !important;">
          <ion-icon name="calendar" color="light" mode="md"   style=" font-size: 30px;
          position: relative;
          left: -5px;
          top: -4px;"></ion-icon>
          <!-- <img src="../../assets/images/svg/kalendar-unactive.svg"> -->
        </button><br>
        <label style=" color:#5454c7;   font-size: 7pt;" (click)="setSchedule()">Edit Jadwal</label>
      </div>
    </ion-card-content>
    <div *ngIf="patient && patient.length > 0" class="divider"></div>
    <div *ngIf="patient && patient.length > 0">
      <ion-row justify-content-start no-padding>
        <b style="    padding-top: 3px;
        padding-left: 10px;">Remaja yang harus ditangani</b>
      </ion-row>
      <ion-list>
        <ion-item-sliding *ngFor="let me of patient">

          <ion-item >
            <ion-avatar slot="start">
              <img src="{{me.patient.profile.avatar}}">
            </ion-avatar>
            <ion-label>
              {{me.patient.profile.name}} <br> 
              Metode konseling : <i>{{me.methode}}</i> <br>
            </ion-label>
            <ion-note slot="end">
              {{me.schedule.time}}
            </ion-note>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option *ngIf="me.methode == 'Chat'" (click)="openChatRoom(me)">
              <ion-icon color="light" name="chatboxes" style="font-size: 20pt;" ></ion-icon>
            </ion-item-option>
            <ion-item-option *ngIf="me.methode == 'Call'" (click)="openChatRoom(me)">
              <ion-icon color="light" name="call" style="font-size: 20pt;"></ion-icon>
            </ion-item-option>
            <ion-item-option *ngIf="me.methode == 'Video Call'" (click)="openChatRoom(me)">
              <ion-icon color="light" name="videocam" style="font-size: 20pt;"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        
      </ion-list>
    </div>
    

    

  </div>

  <div *ngIf="onload">
      <ion-list>
        <ion-item >
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 100%; height: 80px;"></ion-skeleton-text>
            </h3>
          </ion-label>
        </ion-item>
        <ion-item >
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 100%; height: 80px;"></ion-skeleton-text>
            </h3>
          </ion-label>
        </ion-item>
        <ion-item >
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 100%; height: 80px;"></ion-skeleton-text>
            </h3>
          </ion-label>
        </ion-item>
        <ion-item >
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 100%; height: 80px"></ion-skeleton-text>
            </h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
