.divider {
    height: 1px;
    width: 100%;
    background-color: rgb(155, 155, 155);
}
.fab-btn-custom{
    position: relative;
    bottom: 10px;
    left: 85%;
    /* top: 25px; */
    .btn-custom{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: #fcd016ab;
        padding: 8px;
        padding-left: 10px;
    }
}

.color-info {
    width: 10px;
    height: 10px;
    position: relative;
    background-color: var(--ion-color-primary, #3880ff);
    top: 6px;
}

.daySelected {
    .days{
        button.days-btn {
            p {
                color: red;
            }
        }
    }
}