
<ion-content class="bg-regist">
  <ion-row>
    <ion-col size="4">
      <ion-button color="light" fill="clear" (click)="navigateTo('login')">
        <ion-icon name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="5">
      <ion-card-content>
        <b style="color: white">Buat Akun Baru</b>
      </ion-card-content>
    </ion-col>
  </ion-row>
  <div class="regist-content">
    <ion-card-content padding>
      <ion-item hidden>
        <input id="input-avatar" type="file"  (change)="changeListener($event)">
      </ion-item>
      <ion-item hidden>
        <input id="input-ktp" type="file"  (change)="changeListenerKtp($event)">
      </ion-item>
      <label style="margin-left: 12%; color: white">Nama Pengguna *</label>
      <div style="margin: 5px;" align="center">
        <input type="text" placeholder="Nama Lengkap" [(ngModel)]="formRegist.name">
      </div>

      <label style="margin-left: 12%; color: white">Email *</label>
      <div style="margin: 5px;" align="center">
        <input type="email" placeholder="Email" [(ngModel)]="formRegist.email">
      </div>

      <label style="margin-left: 12%; color: white">Kata Sandi *</label>
      <div style="margin: 5px;" align="center">
        <input type="password" placeholder="Kata Sandi" [(ngModel)]="formRegist.password">
      </div>
      <small style="    margin-left: 12%;
      color: white;
      position: relative;
      top: -9px;">Catatan: Kata sandi harus diisi minimal 6 karakter</small>
      <br>

      <label style="margin-left: 12%; color: white">Tanggal Lahir *</label>
      <div style="margin: 5px;" align="center">
        <input type="text" placeholder="Tanggal Lahir" onkeydown="return false" onkeyup="return false" [(ngModel)]="bod" (click)="openCalendar()">
      </div>
      <label style="margin-left: 12%; color: white">Tempat Lahir *</label>
      <div style="margin: 5px;" align="center">
        <input type="text" placeholder="Tempat Lahir" [(ngModel)]="formRegist.birth_place">
      </div>

      <label style="margin-left: 12%; color: white">Usia *</label>
      <div style="margin: 5px;" align="center">
        <input type="number" placeholder="Usia" [(ngModel)]="formRegist.usia">
      </div>
      <label style="margin-left: 12%; color: white">Agama *</label>
      <div style="margin: 5px;" align="center">
        <select style="background-color: white;" [(ngModel)]="formRegist.agama">
          <option selected disabled value="">Pilih Agama</option>
          <option value="islam">Islam</option>
          <option value="kristen-protestan">Kristen Protestan</option>
          <option value="kristen-katolik">Kristen Katolik</option>
          <option value="hindu">Hindu</option>
          <option value="budha">Budha</option>
          <option value="konghucu">Konghucu</option>
        </select>
      </div>
      <label style="margin-left: 12%; color: white">Pekerjaan *</label>
      <div style="margin: 5px;" align="center">
        <input type="text" placeholder="Pekerjaan" [(ngModel)]="formRegist.job">
      </div>

      <label style="margin-left: 12%; color: white">Status Perkawinan *</label>
      <div style="margin: 5px;" align="center">
        <select style="background-color: white;"  [(ngModel)]="formRegist.marital_status">
          <option selected disabled value="">Pilih Status Perkawinan</option>
          <option value="cerai">Cerai</option>
          <option value="cerai-mati">Cerai Mati</option>
          <option value="belum-nikah">Belum Menikah</option>
          <option value="nikah">Menikah</option>
        </select>
      </div>
      
      <label style="margin-left: 12%; color: white">Jenis Kelamin *</label>
      <div style="margin: 5px;" align="center">
        <select style="background-color: white;" [(ngModel)]="formRegist.gender">
          <option selected disabled value="">Pilih Jenis Kelamin</option>
          <option value="women">Wanita</option>
          <option value="men">Pria</option>
        </select>
      </div>

      <label style="margin-left: 12%; color: white">Foto Profil *</label>
      <div style="margin: 5px;" align="center">
        <div class="input-container">
          <input type="text" class="input-field" 
          onkeydown="return false" onkeyup="return false"  placeholder="Foto Profil" [(ngModel)]="fotoName" (click)="selectImage('pp')" >
          <i class="icon">
              <img src="../../../assets/images/Dokumen.png" width="10">
            </i>
        </div>
      </div>

      <div style="margin: 5px;" hidden>
        <ion-item>
          <ion-label ><ion-icon name="calendar"></ion-icon></ion-label>
          <ion-datetime id="cal-hide" (ionChange)="normalizeDate()"  max="2004" [(ngModel)]="formRegist.birth" placeholder="Tanggal Lahir" display-format="DD-MM-YYYY"></ion-datetime>
        </ion-item>
      </div>
      <ion-row>
       <ion-col size="1"></ion-col>
       <ion-col size="10">
         <div style="margin-top: 40px">
           <ion-button expand="block" color="primary" (click)="openForm()" 
       disabled="{{
          formRegist.email == '' || formRegist.usia == 0 ||
          formRegist.name == ''  || formRegist.agama == '' ||
          formRegist.password == '' || formRegist.job == ''  || formRegist.marital_status == ''  ||
          bod == '' || formRegist.gender == '' || 
          formRegist.birth_place == ''
          }}">Simpan</ion-button>
          <!-- <ion-button expand="block" color="warning" (click)="openForm()" >Simpan</ion-button> -->
          
         </div>
       </ion-col>
       <ion-col size="1"></ion-col>
     </ion-row>


    </ion-card-content>
    
  </div>
</ion-content>
