<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title text-center>Data Pengaduan</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card-content>
      <ion-row justify-content-center>
        <ion-avatar>
          <img src="{{dataComplaint.patient.profile.avatar}}">
        </ion-avatar>
      </ion-row>
    </ion-card-content>
    <div class="divider"></div>
    <ion-card-content>
      <ion-row>
        <ion-col size="5"><b>Nama</b> </ion-col>
        <ion-col size="1">:</ion-col> 
        <ion-col size="6">{{dataComplaint.patient.profile.name}}</ion-col> 

        <ion-col size="5">
          <b>Jenis Kelamin</b>
        </ion-col>
        <ion-col size="1">:</ion-col> 
        <ion-col size="6">{{dataComplaint.patient.profile.gender == 'men' ? 'Pria':'Perempuan'}}</ion-col> 

        <ion-col size="5">
            <b>Agama</b> 
        </ion-col>
        <ion-col size="1">:</ion-col> 
        <ion-col size="6">{{dataComplaint.patient.profile.agama}}</ion-col> 
        
        <ion-col size="5">
          <b>Usia</b>
        </ion-col>
        <ion-col size="1">:</ion-col> 
        <ion-col size="6">{{dataComplaint.patient.profile.age}}</ion-col>

        <ion-col size="5">
          <b>Tanggal Lahir</b>
        </ion-col>
        <ion-col size="1">:</ion-col> 
        <ion-col size="6">{{normalizeDate(dataComplaint.patient.profile.birth)}}</ion-col>

        <ion-col size="5">
          <b>Status</b>
        </ion-col>
        <ion-col size="1">:</ion-col> 
        <ion-col size="6">{{dataComplaint.patient.profile.marital_status}}</ion-col>

        <ion-col size="5">
          <b>Pekerjaan</b>
        </ion-col>
        <ion-col size="1">:</ion-col> 
        <ion-col size="6">{{dataComplaint.patient.profile.job ? dataComplaint.patient.profile.job : '-'}}</ion-col>

        <ion-col size="5">
          <b>Alamat</b> 
        </ion-col>
        <ion-col size="1">:</ion-col> 
        <ion-col size="6">{{dataComplaint.patient.profile.address}}</ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="5">KTP</ion-col>
      </ion-row>
      <ion-row justify-content-center *ngIf="dataComplaint.patient.profile.ktp">
        <img src="{{dataComplaint.patient.profile.ktp}}" style="width: 260px; height: 160px;">
      </ion-row>
      <!-- <ion-row>
        <ion-col size="5">Jenis Kekerasan</ion-col>
        <ion-col size="1">:</ion-col>
        <ion-col size="6">{{dataComplaint.text_category}}</ion-col>
      </ion-row> -->
    </ion-card-content>
    <div class="divider"></div>
    <ion-card-content>
      <ion-label>Masalah yang dialamai : </ion-label>
      <ion-card-content>
        <p>
          {{dataComplaint.description}}
        </p>
      </ion-card-content>
    </ion-card-content>
    <div class="divider"></div>
    <ion-card-content *ngIf="dataComplaint.status != 9">
      <ion-item>
        <ion-label>Pilih Kategori Kekerasan</ion-label>
        <ion-select [(ngModel)]="dataComplaint.category_id" interface="action-sheet">
          <ion-select-option *ngFor="let category of categories" value="{{category.id}}">{{ category.category }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-label>Validasi data : </ion-label>
      <ion-list>
        <ion-item>
          <ion-label>Validasi Data Diri</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="profileValid"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Validasi Pengaduan</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="applicationValid"></ion-checkbox>
        </ion-item>
      </ion-list>
      <ion-row justify-content-center>
        <ion-col size="3"></ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="success" (click)="selectConselor()" disabled="{{!profileValid || !applicationValid}}">
            Terima
          </ion-button>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col size="3"></ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="openNote()">
            Beri Catatan
          </ion-button>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-card-content>
    <ion-card-content *ngIf="dataComplaint.status == 9">
      <ion-row justify-content-center>
        <ion-avatar>
          <img src="{{dataComplaint.conselor.profile.avatar}}">
        </ion-avatar>
      </ion-row>
    </ion-card-content>
    <div class="divider" *ngIf="dataComplaint.status == 9"></div>
    <ion-row justify-content-center text-center *ngIf="dataComplaint.status == 9">
      <ion-label color="primary">Data Konselor</ion-label>
    </ion-row>
    <ion-card-content *ngIf="dataComplaint.status == 9">
      <ion-row>
        <ion-col size="6">
          <b>Nama</b><br>{{dataComplaint.conselor.profile.name}}
        </ion-col>
        <ion-col size="6">
          <b>Jenis Kelamin</b><br> {{dataComplaint.conselor.profile.gender == 'men' ? 'Pria':'Perempuan'}}
        </ion-col>
        <ion-col size="6">
          <b>Tanggal Lahir</b> <br>
          {{dataComplaint.conselor.profile.name}}
        </ion-col>
        <ion-col size="6">
            <b>Status </b> <br>
            {{dataComplaint.conselor.profile.marital_status}}
          </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-content>
  