<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title text-center>Data Konseling</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="5">Tanggal Konseling</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="6">{{dataConseling.schedule.schedule_date}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">Pertemuan Ke </ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="6">
            <ion-label *ngIf="!onload">
                {{dataConseling.counter}}
            </ion-label>
            <ion-label *ngIf="onload">
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">Nama</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="6">{{dataConseling.patient.profile.name}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">Konselor </ion-col>
            <ion-col size="1">:</ion-col>
            <ion-col size="6">
              <ion-label *ngIf="!onload">
                  {{dataConseling.conselor.profile.name | titlecase}}
              </ion-label>
              <ion-label *ngIf="onload">
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </ion-label>
            </ion-col>
          </ion-row>

        <!-- <ion-row>
          <ion-col size="5">Jenis Kekerasan</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="6">{{category}}</ion-col>
        </ion-row> -->
      </ion-card-content>
    </ion-card>
    <!-- <ion-card>
        <ion-header>
          <ion-row justify-content-center text-center>
            <ion-col size="3">
              <div class="divider"></div>
            </ion-col>
            <ion-col size="6">
              Uraian Masalah dan Observasi
            </ion-col>
            <ion-col size="3">
              <div class="divider"></div>
            </ion-col>
          </ion-row>
        </ion-header>
        <ion-card-content >
          
        </ion-card-content>
      </ion-card> -->

    <ion-card>
      <ion-header>
        <ion-row justify-content-center text-center>
          <ion-col size="3">
            <div class="divider"></div>
          </ion-col>
          <ion-col size="6">
            Hasil Konseling
          </ion-col>
          <ion-col size="3">
            <div class="divider"></div>
          </ion-col>
        </ion-row>
      </ion-header>
      <ion-card-content *ngIf="!dataConseling.result">
        <ion-item>
          <ion-label position="floating" >Masukan hasil konseling</ion-label>
          <ion-textarea rows="8" placeholder="Masukan Hasil Konseling" [(ngModel)]="formResult"></ion-textarea>
        </ion-item>
        <ion-row justify-content-center>
          <ion-button expand="full" color="primary" (click)="putConseling()" disabled="{{formResult == '' || formResult == null}}">Simpan</ion-button>
        </ion-row>
      </ion-card-content>
      <ion-card-content *ngIf="dataConseling.result">
        <p>{{dataConseling.result}}</p>
        
      </ion-card-content>
    </ion-card>
</ion-content>
  