  <ion-content class="bg-logins">
    
    <div class="centere">
      <img [src]="logo" alt="LOGO" style="width: 200px; height: auto;">
      <ion-row justify-content-center>
        <p style="font-size: 14pt;
        padding-left: 15%;
        padding-right: 15%;">
          Aplikasi Pengaduan dan Konseling MCR PKBI Bandung Untuk Konselor
        </p>
      </ion-row>
    </div>
  
    <div class="warp-input-logins footer-login" >
      <div class="input-container">
        <i class="icon">
          <ion-icon name="mail"></ion-icon>
        </i>
        <input class="input-field" [(ngModel)]="formLogin.email" type="text" placeholder="Email" >
      </div>
      <div class="input-container">
        <i class="icon">
          <ion-icon name="ios-lock"></ion-icon>
        </i>
        <input class="input-field" [(ngModel)]="formLogin.password" type="password" placeholder="Kata Sandi" >
      </div>
      <div style="margin-top: 5px; text-align: right">
        <a href="javascript:void(0)" (click)="navigateTo('forget')" style="color:white"><small style="color:white">Lupa kata sandi?</small></a>
        <div style="margin-top: 25px;">
          <button style="background-color: #004883;
          color: white;
          width: 100%;
          height: 37px;" (click)="doLogin()" >Masuk</button>
          <!-- <ion-button expand="block"  
          >
            Masuk
            <ion-spinner name="crescent" style="margin-left: 10px;" *ngIf="loading"></ion-spinner>
          </ion-button> -->
        </div>
  
        <ion-row justify-content-center>
          <small style="color: white; margin-top: 35px;margin-bottom: 15px;">Belum punya Akun? <a href="javascript:void(0)" style="color: white" (click)="navigateTo('signup')">Buat Akun Baru</a></small>
        </ion-row>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" style="bottom: 20pt;">
    <ion-fab-button color="light" (click)="questionCs()">
      <ion-row>
        <ion-icon color="primary" name="chatbubbles" style="position: absolute;
        bottom: 12pt;
        left: 12pt;
        font-size: 20pt;"></ion-icon>
      </ion-row><br>
    </ion-fab-button>
    <!-- <small>Tanya Konselor</small> -->
  </ion-fab>
    <!-- <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" style="bottom: 20pt;">
      <ion-fab-button (click)="questionCs()">
        <ion-row>
          <ion-icon color="light" name="chatbubbles" style="position: absolute;
          bottom: 12pt;
          left: 12pt;
          font-size: 20pt;"></ion-icon>
        </ion-row><br>
      </ion-fab-button>
      <small>Tanya Konselor</small>
    </ion-fab> -->
    <ion-row>
      <label color="light" style="
          font-size: 8pt;
          position: absolute;
          right: 5px;
          color: white;
          bottom: 8pt;" (click)="questionCs()">Data Pertanyaan</label>
    </ion-row>
  </ion-content>
  
  
    