
.footer-conselor-app {
    font-size: 6px;
}
.dot-active {
    background-color: #0a77cf;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: white;
    font-size: 10pt;
    padding: 1px;
    padding-left: 0px;
    position: absolute;
    top: 4px;
    right: 18px;
    font-family: opensansSemibold;
}